<% layout("/layouts/boilerplate") %>
 <div class="row mt-3 mb-3">
 <div class="col-8 offset-2">
    <h2>edit your listing</h2>
    <form
     method="POST" 
     action="/listing/<%= listing._id %>?_method=PUT" 
     class="needs-validation" novalidate
     enctype="multipart/form-data">
        <div class="mb-2">
            <label for="title" class="form-label">TITLE</label>
            <input class="form-control" name="listing[tittle]" type="text" value="<%= listing.tittle %>" required>
            <div class="invalid-feedback">
                pleas enter Tittle
              </div>
        </div>
        <div class="mb-2">
            <label for="description" class="form-label">DESCRIPTION</label>
            <textarea class="form-control" name="listing[description]"  rows="3" cols="20" required><%= listing.description %></textarea>
            <div class="invalid-feedback">
                enter description
             </div>
        </div>
        <div class="mb-2"><br>
            <label for="image" class="form-label">original image</label><br>
            <img src="<%= orgurl %>" alt="">
        </div>
        <div class="mb-2">
            <label for="image" class="form-label">Upload New IMAGE</label>
            <input class="form-control" name="listing[image]" type="file"  >
            <div class="invalid-feedback">
                pleas enter url/link image
             </div>
        </div>
        <div class="row ">
        <div class="mb-2 col-md-4">
            <label for="price" class="form-label">PRICE</label>
            <input class="form-control" name="listing[price]" type="text" value="<%= listing.price %>" required>
            <div class="invalid-feedback">
                enter price!
             </div>
        </div>
        <div class="mb-2 col-md-8">
            <label for="country" class="form-label">COUNTRY</label>
            <input class="form-control" name="listing[country]" type="text" value="<%= listing.country %>" required>
            <div class="invalid-feedback">
                enter country name
             </div>
        </div>
       </div>
        <div class="mb-2">
            <label for="location" class="form-label">LOCATION</label>
            <input class="form-control" name="listing[location]" type="text" value="<%= listing.location %>" required>
            <div class="invalid-feedback">
                enter location
             </div>
         </div>
        <div class="mb-2 mt-1">
            <label for="select" class="form-label">Choose the type of places</label>
            <br>
            <select name="listing[category]" id="" class="col-8" >
               <option value="<%= listing.category %>"><%= listing.category %></option> 
              <option value="farms">farms</option>
              <option value="rooms">rooms</option>
              <option value="iconic cities">iconic cities</option>
              <option value="mountains">mountains</option>
              <option value="camping">camping</option>
              <option value="arctic">arctic</option>
            </select>
        </div>
      <button class="btn btn-dark edit-btn mt-2 mb-3">UPDATE</button>
    </form>
</div>
</div>